<div class="row">
  <div class="left">
    <h1>GitHub User Search</h1>
    <input
      class="searchInput"
      type="text"
      [(ngModel)]="searchInput"
      (input)="search()"
      placeholder="Search for users..."
    />
  </div>
</div>

<div
  class="container"
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="space-around center"
  fxLayoutGap="25px"
  *ngIf="searchInput && searchUsers.length > 0"
>
  <mat-card
    class="user-card"
    *ngFor="let user of searchUsers"
    fxFlex="calc(33%-25px)"
    fxFlex.sm="calc(50%-25px)"
  >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="user-name">{{ user.login }}</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      class="user-avatar"
      [src]="user.avatar_url"
      alt="Avatar"
    />
  </mat-card>
</div>

<div
  class="container"
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="space-around center"
  fxLayoutGap="25px"
  *ngIf="!searchInput && defaultUsers.length > 0"
>
  <mat-card
    class="user-card"
    *ngFor="let user of defaultUsers"
    fxFlex="calc(33%-25px)"
    fxFlex.sm="calc(50%-25px)"
  >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="user-name">{{ user.login }}</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      class="user-avatar"
      [src]="user.avatar_url"
      alt="Avatar"
    />
  </mat-card>
</div>
