* {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-wrap: wrap;
}

.user-card {
  flex: 25%;
  padding: 20px;
  width: 200px;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 10px;
  display: block;
}

.user-name {
  font-size: 18px;
  margin-bottom: 5px;
}

.user-info {
  font-size: 14px;
  margin-bottom: 5px;
}
.search {
  width: 357px;
  margin-right: auto !important;
  margin-left: auto !important;
}
.row {
  display: flex;
  align-items: center;
}
.left {
  flex: 35%;
  padding: 15px 0;
  background-color: rgb(223, 157, 157);
}
.searchInput {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}
